<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.turing.pangu.mapper.RemainIpMapper" >
  <resultMap id="BaseResultMap" type="org.turing.pangu.model.RemainIp" >
    <id column="id" property="id" jdbcType="BIGINT" />       
    <result column="vpn_id" property="vpnId" jdbcType="BIGINT" />          
    <result column="ip" property="ip" jdbcType="VARCHAR" />          
    <result column="is_vaild" property="isVaild" jdbcType="INTEGER" />          
    <result column="configure" property="configure" jdbcType="VARCHAR" />          
    <result column="alloc_count" property="allocCount" jdbcType="INTEGER" />          
    <result column="success_count" property="successCount" jdbcType="INTEGER" />          
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />          
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />          
  </resultMap>   
  <sql id="Base_Column_List" >
    r.id,
	r.vpn_id,
	r.ip,
	r.is_vaild,
	r.configure,
	r.alloc_count,
	r.success_count,
	r.create_date,
	r.update_date
  </sql>
  <sql id="Base_Column_Value_List" >
    #{vpnId},
	#{ip},
	#{isVaild},
	#{configure},
	#{allocCount},
	#{successCount},
	#{createDate},
	#{updateDate}
  </sql>
  <sql id="Base_Column_Update_List" >
    vpn_id=#{vpnId},
	ip=#{ip},
	is_vaild=#{isVaild},
	configure=#{configure},
	alloc_count=#{allocCount},
	success_count=#{successCount},
	create_date=#{createDate},
	update_date=#{updateDate}
  </sql> 
  <select id="select" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from remain_ip r
    where r.id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from remain_ip r
  </select>
  <select id="selectList" resultMap="BaseResultMap" parameterType="org.turing.pangu.model.RemainIp" >
    select 
    <include refid="Base_Column_List" />
    from remain_ip r
    where 1=1 
    <if test="vpnId != null" >and r.vpn_id= #{vpnId,jdbcType=BIGINT}</if>
    <if test="ip != null" >and r.ip= #{ip,jdbcType=VARCHAR}</if>
    <if test="isVaild != null" >and r.is_vaild= #{isVaild,jdbcType=INTEGER}</if>
    <if test="configure != null" >and r.configure= #{configure,jdbcType=VARCHAR}</if>
    <if test="allocCount != null" >and r.alloc_count= #{allocCount,jdbcType=INTEGER}</if>
    <if test="successCount != null" >and r.success_count= #{successCount,jdbcType=INTEGER}</if>
    <if test="createDate != null" >and r.create_date= #{createDate,jdbcType=TIMESTAMP}</if>
    <if test="updateDate != null" >and r.update_date= #{updateDate,jdbcType=TIMESTAMP}</if>
  </select>
  <select id="selectModel" resultMap="BaseResultMap" parameterType="org.turing.pangu.model.RemainIp" >
    select 
    <include refid="Base_Column_List" />
    from remain_ip r
    where 1=1 
    <if test="vpnId != null" >and r.vpn_id= #{vpnId,jdbcType=BIGINT}</if>
    <if test="ip != null" >and r.ip= #{ip,jdbcType=VARCHAR}</if>
    <if test="isVaild != null" >and r.is_vaild= #{isVaild,jdbcType=INTEGER}</if>
    <if test="configure != null" >and r.configure= #{configure,jdbcType=VARCHAR}</if>
    <if test="allocCount != null" >and r.alloc_count= #{allocCount,jdbcType=INTEGER}</if>
    <if test="successCount != null" >and r.success_count= #{successCount,jdbcType=INTEGER}</if>
    <if test="createDate != null" >and r.create_date= #{createDate,jdbcType=TIMESTAMP}</if>
    <if test="updateDate != null" >and r.update_date= #{updateDate,jdbcType=TIMESTAMP}</if>
  </select>
  <select id="selectPage" resultMap="BaseResultMap" parameterType="org.turing.pangu.model.ParamModel" >
    select 
    <include refid="Base_Column_List" />
    from remain_ip r
    where 1=1 
    <if test="model.vpnId != null" >and r.vpn_id= #{model.vpnId,jdbcType=BIGINT}</if>
    <if test="model.ip != null" >and r.ip= #{model.ip,jdbcType=VARCHAR}</if>
    <if test="model.isVaild != null" >and r.is_vaild= #{model.isVaild,jdbcType=INTEGER}</if>
    <if test="model.configure != null" >and r.configure= #{model.configure,jdbcType=VARCHAR}</if>
    <if test="model.allocCount != null" >and r.alloc_count= #{model.allocCount,jdbcType=INTEGER}</if>
    <if test="model.successCount != null" >and r.success_count= #{model.successCount,jdbcType=INTEGER}</if>
    <if test="model.createDate != null" >and r.create_date= #{model.createDate,jdbcType=TIMESTAMP}</if>
    <if test="model.updateDate != null" >and r.update_date= #{model.updateDate,jdbcType=TIMESTAMP}</if>
    <if test="page.pageNum!=null and page.pageSize!=null"> limit #{page.pageStart,jdbcType=INTEGER},#{page.pageSize,jdbcType=INTEGER}</if>
  </select>
  <select id="selectCount" resultType="java.lang.Long" parameterType="org.turing.pangu.model.RemainIp" >
    select count(0) totalCount
    from remain_ip r
    where 1=1 
    <if test="vpnId != null" >and r.vpn_id= #{vpnId,jdbcType=BIGINT}</if>
    <if test="ip != null" >and r.ip= #{ip,jdbcType=VARCHAR}</if>
    <if test="isVaild != null" >and r.is_vaild= #{isVaild,jdbcType=INTEGER}</if>
    <if test="configure != null" >and r.configure= #{configure,jdbcType=VARCHAR}</if>
    <if test="allocCount != null" >and r.alloc_count= #{allocCount,jdbcType=INTEGER}</if>
    <if test="successCount != null" >and r.success_count= #{successCount,jdbcType=INTEGER}</if>
    <if test="createDate != null" >and r.create_date= #{createDate,jdbcType=TIMESTAMP}</if>
    <if test="updateDate != null" >and r.update_date= #{updateDate,jdbcType=TIMESTAMP}</if>
  </select>
  <delete id="delete" parameterType="java.lang.Long" >
    delete from remain_ip
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.turing.pangu.model.RemainIp" >
    insert into remain_ip 
    <trim prefix="(" suffix=")" suffixOverrides="," >
        vpn_id,    
        ip,    
        is_vaild,    
        configure,    
        alloc_count,    
        success_count,    
        create_date,    
        update_date,    
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
        #{vpnId,jdbcType=BIGINT},  
        #{ip,jdbcType=VARCHAR},  
        #{isVaild,jdbcType=INTEGER},  
        #{configure,jdbcType=VARCHAR},  
        #{allocCount,jdbcType=INTEGER},  
        #{successCount,jdbcType=INTEGER},  
        #{createDate,jdbcType=TIMESTAMP},  
        #{updateDate,jdbcType=TIMESTAMP},  
    </trim>
  </insert>
  <insert id="insertRemainIpByTrim" parameterType="org.turing.pangu.model.RemainIp" >
    insert into remain_ip 
    <trim prefix="(" suffix=")" suffixOverrides="," >
        <if test="vpnId != null" >vpn_id,</if>
        <if test="ip != null" >ip,</if>
        <if test="isVaild != null" >is_vaild,</if>
        <if test="configure != null" >configure,</if>
        <if test="allocCount != null" >alloc_count,</if>
        <if test="successCount != null" >success_count,</if>
        <if test="createDate != null" >create_date,</if>
        <if test="updateDate != null" >update_date,</if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
        <if test="vpnId != null" >#{vpnId,jdbcType=BIGINT},</if>  
        <if test="ip != null" >#{ip,jdbcType=VARCHAR},</if>  
        <if test="isVaild != null" >#{isVaild,jdbcType=INTEGER},</if>  
        <if test="configure != null" >#{configure,jdbcType=VARCHAR},</if>  
        <if test="allocCount != null" >#{allocCount,jdbcType=INTEGER},</if>  
        <if test="successCount != null" >#{successCount,jdbcType=INTEGER},</if>  
        <if test="createDate != null" >#{createDate,jdbcType=TIMESTAMP},</if>  
        <if test="updateDate != null" >#{updateDate,jdbcType=TIMESTAMP},</if>  
    </trim>
  </insert>
  <update id="updateRemainIpById" parameterType="org.turing.pangu.model.RemainIp" >
    update remain_ip set 
    <trim prefix="" suffix="" suffixOverrides="," >
        vpn_id=#{vpnId,jdbcType=BIGINT},    
        ip=#{ip,jdbcType=VARCHAR},    
        is_vaild=#{isVaild,jdbcType=INTEGER},    
        configure=#{configure,jdbcType=VARCHAR},    
        alloc_count=#{allocCount,jdbcType=INTEGER},    
        success_count=#{successCount,jdbcType=INTEGER},    
        create_date=#{createDate,jdbcType=TIMESTAMP},    
        update_date=#{updateDate,jdbcType=TIMESTAMP},    
    </trim>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="update" parameterType="org.turing.pangu.model.RemainIp" >
    update remain_ip set 
    <trim prefix="" suffix="" suffixOverrides="," >
        <if test="vpnId != null" >vpn_id=#{vpnId,jdbcType=BIGINT},</if>
        <if test="ip != null" >ip=#{ip,jdbcType=VARCHAR},</if>
        <if test="isVaild != null" >is_vaild=#{isVaild,jdbcType=INTEGER},</if>
        <if test="configure != null" >configure=#{configure,jdbcType=VARCHAR},</if>
        <if test="allocCount != null" >alloc_count=#{allocCount,jdbcType=INTEGER},</if>
        <if test="successCount != null" >success_count=#{successCount,jdbcType=INTEGER},</if>
        <if test="createDate != null" >create_date=#{createDate,jdbcType=TIMESTAMP},</if>
        <if test="updateDate != null" >update_date=#{updateDate,jdbcType=TIMESTAMP},</if>
    </trim>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>
