<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.turing.pangu.mapper.RemainDataMapper" >
  <resultMap id="BaseResultMap" type="org.turing.pangu.model.RemainData" >
    <id column="id" property="id" jdbcType="BIGINT" />       
    <result column="app_id" property="appId" jdbcType="BIGINT" />          
    <result column="active" property="active" jdbcType="BIGINT" />          
    <result column="inactive" property="inactive" jdbcType="BIGINT" />          
    <result column="remain" property="remain" jdbcType="BIGINT" />          
    <result column="remain_active" property="remainActive" jdbcType="BIGINT" />          
    <result column="unremain" property="unremain" jdbcType="BIGINT" />          
    <result column="remain_path" property="remainPath" jdbcType="VARCHAR" />          
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />          
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />          
  </resultMap>   
  <sql id="Base_Column_List" >
    r.id,
	r.app_id,
	r.active,
	r.inactive,
	r.remain,
	r.remain_active,
	r.unremain,
	r.remain_path,
	r.create_date,
	r.update_date
  </sql>
  <sql id="Base_Column_Value_List" >
    #{appId},
	#{active},
	#{inactive},
	#{remain},
	#{remainActive},
	#{unremain},
	#{remainPath},
	#{createDate},
	#{updateDate}
  </sql>
  <sql id="Base_Column_Update_List" >
    app_id=#{appId},
	active=#{active},
	inactive=#{inactive},
	remain=#{remain},
	remain_active=#{remainActive},
	unremain=#{unremain},
	remain_path=#{remainPath},
	create_date=#{createDate},
	update_date=#{updateDate}
  </sql> 
  <select id="select" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from remain_data r
    where r.id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from remain_data r
  </select>
  <select id="selectTodayData" resultMap="BaseResultMap" parameterType="org.turing.pangu.model.RemainData" >
    select 
    <include refid="Base_Column_List" />
    from remain_data r
    where 1=1 
    <if test="appId != null" >and r.app_id= #{appId,jdbcType=BIGINT}</if>
    <if test="createDate != null and createDate!=''" >and r.create_date BETWEEN #{createDate,jdbcType=TIMESTAMP} AND #{updateDate,jdbcType=TIMESTAMP}</if>
  </select>
  <select id="selectList" resultMap="BaseResultMap" parameterType="org.turing.pangu.model.RemainData" >
    select 
    <include refid="Base_Column_List" />
    from remain_data r
    where 1=1
    <if test="appId != null" >and r.app_id= #{appId,jdbcType=BIGINT}</if>
    <if test="active != null" >and r.active= #{active,jdbcType=BIGINT}</if>
    <if test="inactive != null" >and r.inactive= #{inactive,jdbcType=BIGINT}</if>
    <if test="remain != null" >and r.remain= #{remain,jdbcType=BIGINT}</if>
    <if test="remainActive != null" >and r.remain_active= #{remainActive,jdbcType=BIGINT}</if>
    <if test="unremain != null" >and r.unremain= #{unremain,jdbcType=BIGINT}</if>
    <if test="remainPath != null" >and r.remain_path= #{remainPath,jdbcType=VARCHAR}</if>
    <if test="createDate != null" >and r.create_date= #{createDate,jdbcType=TIMESTAMP}</if>
    <if test="updateDate != null" >and r.update_date= #{updateDate,jdbcType=TIMESTAMP}</if>
    order by r.create_date desc
  </select>
  <select id="selectModel" resultMap="BaseResultMap" parameterType="org.turing.pangu.model.RemainData" >
    select 
    <include refid="Base_Column_List" />
    from remain_data r
    where 1=1 
    <if test="appId != null" >and r.app_id= #{appId,jdbcType=BIGINT}</if>
    <if test="active != null" >and r.active= #{active,jdbcType=BIGINT}</if>
    <if test="inactive != null" >and r.inactive= #{inactive,jdbcType=BIGINT}</if>
    <if test="remain != null" >and r.remain= #{remain,jdbcType=BIGINT}</if>
    <if test="remainActive != null" >and r.remain_active= #{remainActive,jdbcType=BIGINT}</if>
    <if test="unremain != null" >and r.unremain= #{unremain,jdbcType=BIGINT}</if>
    <if test="remainPath != null" >and r.remain_path= #{remainPath,jdbcType=VARCHAR}</if>
    <if test="createDate != null" >and r.create_date= #{createDate,jdbcType=TIMESTAMP}</if>
    <if test="updateDate != null" >and r.update_date= #{updateDate,jdbcType=TIMESTAMP}</if>
  </select>
  <select id="selectPage" resultMap="BaseResultMap" parameterType="org.turing.pangu.model.ParamModel" >
    select 
    <include refid="Base_Column_List" />
    from remain_data r
    where 1=1 
    <if test="model.appId != null" >and r.app_id= #{model.appId,jdbcType=BIGINT}</if>
    <if test="model.active != null" >and r.active= #{model.active,jdbcType=BIGINT}</if>
    <if test="model.inactive != null" >and r.inactive= #{model.inactive,jdbcType=BIGINT}</if>
    <if test="model.remain != null" >and r.remain= #{model.remain,jdbcType=BIGINT}</if>
    <if test="model.remainActive != null" >and r.remain_active= #{model.remainActive,jdbcType=BIGINT}</if>
    <if test="model.unremain != null" >and r.unremain= #{model.unremain,jdbcType=BIGINT}</if>
    <if test="model.remainPath != null" >and r.remain_path= #{model.remainPath,jdbcType=VARCHAR}</if>
    <if test="model.createDate != null" >and r.create_date= #{model.createDate,jdbcType=TIMESTAMP}</if>
    <if test="model.updateDate != null" >and r.update_date= #{model.updateDate,jdbcType=TIMESTAMP}</if>
    <if test="page.pageNum!=null and page.pageSize!=null"> limit #{page.pageStart,jdbcType=INTEGER},#{page.pageSize,jdbcType=INTEGER}</if>
  </select>
  <select id="selectCount" resultType="java.lang.Long" parameterType="org.turing.pangu.model.RemainData" >
    select count(0) totalCount
    from remain_data r
    where 1=1 
    <if test="appId != null" >and r.app_id= #{appId,jdbcType=BIGINT}</if>
    <if test="active != null" >and r.active= #{active,jdbcType=BIGINT}</if>
    <if test="inactive != null" >and r.inactive= #{inactive,jdbcType=BIGINT}</if>
    <if test="remain != null" >and r.remain= #{remain,jdbcType=BIGINT}</if>
    <if test="remainActive != null" >and r.remain_active= #{remainActive,jdbcType=BIGINT}</if>
    <if test="unremain != null" >and r.unremain= #{unremain,jdbcType=BIGINT}</if>
    <if test="remainPath != null" >and r.remain_path= #{remainPath,jdbcType=VARCHAR}</if>
    <if test="createDate != null" >and r.create_date= #{createDate,jdbcType=TIMESTAMP}</if>
    <if test="updateDate != null" >and r.update_date= #{updateDate,jdbcType=TIMESTAMP}</if>
  </select>
  <delete id="delete" parameterType="java.lang.Long" >
    delete from remain_data
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.turing.pangu.model.RemainData" >
    insert into remain_data 
    <trim prefix="(" suffix=")" suffixOverrides="," >
        app_id,    
        active,    
        inactive,    
        remain,    
        remain_active,    
        unremain,    
        remain_path,    
        create_date,    
        update_date,    
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
        #{appId,jdbcType=BIGINT},  
        #{active,jdbcType=BIGINT},  
        #{inactive,jdbcType=BIGINT},  
        #{remain,jdbcType=BIGINT},  
        #{remainActive,jdbcType=BIGINT},  
        #{unremain,jdbcType=BIGINT},  
        #{remainPath,jdbcType=VARCHAR},  
        #{createDate,jdbcType=TIMESTAMP},  
        #{updateDate,jdbcType=TIMESTAMP},  
    </trim>
  </insert>
  <insert id="insertRemainDataByTrim" parameterType="org.turing.pangu.model.RemainData" >
    insert into remain_data 
    <trim prefix="(" suffix=")" suffixOverrides="," >
        <if test="appId != null" >app_id,</if>
        <if test="active != null" >active,</if>
        <if test="inactive != null" >inactive,</if>
        <if test="remain != null" >remain,</if>
        <if test="remainActive != null" >remain_active,</if>
        <if test="unremain != null" >unremain,</if>
        <if test="remainPath != null" >remain_path,</if>
        <if test="createDate != null" >create_date,</if>
        <if test="updateDate != null" >update_date,</if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
        <if test="appId != null" >#{appId,jdbcType=BIGINT},</if>  
        <if test="active != null" >#{active,jdbcType=BIGINT},</if>  
        <if test="inactive != null" >#{inactive,jdbcType=BIGINT},</if>  
        <if test="remain != null" >#{remain,jdbcType=BIGINT},</if>  
        <if test="remainActive != null" >#{remainActive,jdbcType=BIGINT},</if>  
        <if test="unremain != null" >#{unremain,jdbcType=BIGINT},</if>  
        <if test="remainPath != null" >#{remainPath,jdbcType=VARCHAR},</if>  
        <if test="createDate != null" >#{createDate,jdbcType=TIMESTAMP},</if>  
        <if test="updateDate != null" >#{updateDate,jdbcType=TIMESTAMP},</if>  
    </trim>
  </insert>
  <update id="updateRemainDataById" parameterType="org.turing.pangu.model.RemainData" >
    update remain_data set 
    <trim prefix="" suffix="" suffixOverrides="," >
        app_id=#{appId,jdbcType=BIGINT},    
        active=#{active,jdbcType=BIGINT},    
        inactive=#{inactive,jdbcType=BIGINT},    
        remain=#{remain,jdbcType=BIGINT},    
        remain_active=#{remainActive,jdbcType=BIGINT},    
        unremain=#{unremain,jdbcType=BIGINT},    
        remain_path=#{remainPath,jdbcType=VARCHAR},    
        create_date=#{createDate,jdbcType=TIMESTAMP},    
        update_date=#{updateDate,jdbcType=TIMESTAMP},    
    </trim>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="update" parameterType="org.turing.pangu.model.RemainData" >
    update remain_data set 
    <trim prefix="" suffix="" suffixOverrides="," >
        <if test="appId != null" >app_id=#{appId,jdbcType=BIGINT},</if>
        <if test="active != null" >active=#{active,jdbcType=BIGINT},</if>
        <if test="inactive != null" >inactive=#{inactive,jdbcType=BIGINT},</if>
        <if test="remain != null" >remain=#{remain,jdbcType=BIGINT},</if>
        <if test="remainActive != null" >remain_active=#{remainActive,jdbcType=BIGINT},</if>
        <if test="unremain != null" >unremain=#{unremain,jdbcType=BIGINT},</if>
        <if test="remainPath != null" >remain_path=#{remainPath,jdbcType=VARCHAR},</if>
        <if test="createDate != null" >create_date=#{createDate,jdbcType=TIMESTAMP},</if>
        <if test="updateDate != null" >update_date=#{updateDate,jdbcType=TIMESTAMP},</if>
    </trim>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>
