<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.turing.pangu.mapper.RemainVpnMapper" >
  <resultMap id="BaseResultMap" type="org.turing.pangu.model.RemainVpn" >
    <id column="id" property="id" jdbcType="BIGINT" />       
    <result column="ip_list" property="ipList" jdbcType="VARCHAR" />          
    <result column="name" property="name" jdbcType="VARCHAR" />          
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />          
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />          
  </resultMap>   
  <sql id="Base_Column_List" >
    r.id,
	r.ip_list,
	r.name,
	r.create_date,
	r.update_date
  </sql>
  <sql id="Base_Column_Value_List" >
    #{ipList},
	#{name},
	#{createDate},
	#{updateDate}
  </sql>
  <sql id="Base_Column_Update_List" >
    ip_list=#{ipList},
	name=#{name},
	create_date=#{createDate},
	update_date=#{updateDate}
  </sql> 
  <select id="select" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from remain_vpn r
    where r.id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from remain_vpn r
  </select>
  <select id="selectList" resultMap="BaseResultMap" parameterType="org.turing.pangu.model.RemainVpn" >
    select 
    <include refid="Base_Column_List" />
    from remain_vpn r
    where 1=1 
    <if test="ipList != null" >and r.ip_list= #{ipList,jdbcType=VARCHAR}</if>
    <if test="name != null" >and r.name= #{name,jdbcType=VARCHAR}</if>
    <if test="createDate != null" >and r.create_date= #{createDate,jdbcType=TIMESTAMP}</if>
    <if test="updateDate != null" >and r.update_date= #{updateDate,jdbcType=TIMESTAMP}</if>
    <if test="pageNum!=null and pageSize!=null">limit #{pageStart,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}</if>
  </select>
  <select id="selectModel" resultMap="BaseResultMap" parameterType="org.turing.pangu.model.RemainVpn" >
    select 
    <include refid="Base_Column_List" />
    from remain_vpn r
    where 1=1 
    <if test="ipList != null" >and r.ip_list= #{ipList,jdbcType=VARCHAR}</if>
    <if test="name != null" >and r.name= #{name,jdbcType=VARCHAR}</if>
    <if test="createDate != null" >and r.create_date= #{createDate,jdbcType=TIMESTAMP}</if>
    <if test="updateDate != null" >and r.update_date= #{updateDate,jdbcType=TIMESTAMP}</if>
  </select>
  <select id="selectPage" resultMap="BaseResultMap" parameterType="org.turing.pangu.model.ParamModel" >
    select 
    <include refid="Base_Column_List" />
    from remain_vpn r
    where 1=1 
    <if test="model.ipList != null" >and r.ip_list= #{model.ipList,jdbcType=VARCHAR}</if>
    <if test="model.name != null" >and r.name= #{model.name,jdbcType=VARCHAR}</if>
    <if test="model.createDate != null" >and r.create_date= #{model.createDate,jdbcType=TIMESTAMP}</if>
    <if test="model.updateDate != null" >and r.update_date= #{model.updateDate,jdbcType=TIMESTAMP}</if>
    <if test="page.pageNum!=null and page.pageSize!=null"> limit #{page.pageStart,jdbcType=INTEGER},#{page.pageSize,jdbcType=INTEGER}</if>
  </select>
  <select id="selectCount" resultType="java.lang.Long" parameterType="org.turing.pangu.model.RemainVpn" >
    select count(0) totalCount
    from remain_vpn r
    where 1=1 
    <if test="ipList != null" >and r.ip_list= #{ipList,jdbcType=VARCHAR}</if>
    <if test="name != null" >and r.name= #{name,jdbcType=VARCHAR}</if>
    <if test="createDate != null" >and r.create_date= #{createDate,jdbcType=TIMESTAMP}</if>
    <if test="updateDate != null" >and r.update_date= #{updateDate,jdbcType=TIMESTAMP}</if>
  </select>
  <delete id="delete" parameterType="java.lang.Long" >
    delete from remain_vpn
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.turing.pangu.model.RemainVpn" >
    insert into remain_vpn 
    <trim prefix="(" suffix=")" suffixOverrides="," >
        ip_list,    
        name,    
        create_date,    
        update_date,    
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
        #{ipList,jdbcType=VARCHAR},  
        #{name,jdbcType=VARCHAR},  
        #{createDate,jdbcType=TIMESTAMP},  
        #{updateDate,jdbcType=TIMESTAMP},  
    </trim>
  </insert>
  <insert id="insertRemainVpnByTrim" parameterType="org.turing.pangu.model.RemainVpn" >
    insert into remain_vpn 
    <trim prefix="(" suffix=")" suffixOverrides="," >
        <if test="ipList != null" >ip_list,</if>
        <if test="name != null" >name,</if>
        <if test="createDate != null" >create_date,</if>
        <if test="updateDate != null" >update_date,</if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
        <if test="ipList != null" >#{ipList,jdbcType=VARCHAR},</if>  
        <if test="name != null" >#{name,jdbcType=VARCHAR},</if>  
        <if test="createDate != null" >#{createDate,jdbcType=TIMESTAMP},</if>  
        <if test="updateDate != null" >#{updateDate,jdbcType=TIMESTAMP},</if>  
    </trim>
  </insert>
  <update id="updateRemainVpnById" parameterType="org.turing.pangu.model.RemainVpn" >
    update remain_vpn set 
    <trim prefix="" suffix="" suffixOverrides="," >
        ip_list=#{ipList,jdbcType=VARCHAR},    
        name=#{name,jdbcType=VARCHAR},    
        create_date=#{createDate,jdbcType=TIMESTAMP},    
        update_date=#{updateDate,jdbcType=TIMESTAMP},    
    </trim>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="update" parameterType="org.turing.pangu.model.RemainVpn" >
    update remain_vpn set 
    <trim prefix="" suffix="" suffixOverrides="," >
        <if test="ipList != null" >ip_list=#{ipList,jdbcType=VARCHAR},</if>
        <if test="name != null" >name=#{name,jdbcType=VARCHAR},</if>
        <if test="createDate != null" >create_date=#{createDate,jdbcType=TIMESTAMP},</if>
        <if test="updateDate != null" >update_date=#{updateDate,jdbcType=TIMESTAMP},</if>
    </trim>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>
