<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.turing.pangu.mapper.VpnGroupMapper" >
  <resultMap id="BaseResultMap" type="org.turing.pangu.model.VpnGroup" >
    <id column="id" property="id" jdbcType="BIGINT" />       
    <result column="is_valid" property="isValid" jdbcType="INTEGER" />          
    <result column="content" property="content" jdbcType="VARCHAR" />          
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />          
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />          
  </resultMap>   
  <sql id="Base_Column_List" >
    v.id,
	v.is_valid,
	v.content,
	v.create_date,
	v.update_date
  </sql>
  <sql id="Base_Column_Value_List" >
    #{isValid},
	#{content},
	#{createDate},
	#{updateDate}
  </sql>
  <sql id="Base_Column_Update_List" >
    is_valid=#{isValid},
	content=#{content},
	create_date=#{createDate},
	update_date=#{updateDate}
  </sql> 
  <select id="select" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from vpn_group v
    where v.id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from vpn_group v
  </select>
  <select id="selectList" resultMap="BaseResultMap" parameterType="org.turing.pangu.model.VpnGroup" >
    select 
    <include refid="Base_Column_List" />
    from vpn_group v
    where 1=1 
    <if test="isValid != null" >and v.is_valid= #{isValid,jdbcType=INTEGER}</if>
    <if test="content != null" >and v.content= #{content,jdbcType=VARCHAR}</if>
    <if test="createDate != null" >and v.create_date= #{createDate,jdbcType=TIMESTAMP}</if>
    <if test="updateDate != null" >and v.update_date= #{updateDate,jdbcType=TIMESTAMP}</if>
  </select>
  <select id="selectModel" resultMap="BaseResultMap" parameterType="org.turing.pangu.model.VpnGroup" >
    select 
    <include refid="Base_Column_List" />
    from vpn_group v
    where 1=1 
    <if test="isValid != null" >and v.is_valid= #{isValid,jdbcType=INTEGER}</if>
    <if test="content != null" >and v.content= #{content,jdbcType=VARCHAR}</if>
    <if test="createDate != null" >and v.create_date= #{createDate,jdbcType=TIMESTAMP}</if>
    <if test="updateDate != null" >and v.update_date= #{updateDate,jdbcType=TIMESTAMP}</if>
  </select>
  <select id="selectPage" resultMap="BaseResultMap" parameterType="org.turing.pangu.model.ParamModel" >
    select 
    <include refid="Base_Column_List" />
    from vpn_group v
    where 1=1 
    <if test="model.isValid != null" >and v.is_valid= #{model.isValid,jdbcType=INTEGER}</if>
    <if test="model.content != null" >and v.content= #{model.content,jdbcType=VARCHAR}</if>
    <if test="model.createDate != null" >and v.create_date= #{model.createDate,jdbcType=TIMESTAMP}</if>
    <if test="model.updateDate != null" >and v.update_date= #{model.updateDate,jdbcType=TIMESTAMP}</if>
    <if test="page.pageNum!=null and page.pageSize!=null"> limit #{page.pageStart,jdbcType=INTEGER},#{page.pageSize,jdbcType=INTEGER}</if>
  </select>
  <select id="selectCount" resultType="java.lang.Long" parameterType="org.turing.pangu.model.VpnGroup" >
    select count(0) totalCount
    from vpn_group v
    where 1=1 
    <if test="isValid != null" >and v.is_valid= #{isValid,jdbcType=INTEGER}</if>
    <if test="content != null" >and v.content= #{content,jdbcType=VARCHAR}</if>
    <if test="createDate != null" >and v.create_date= #{createDate,jdbcType=TIMESTAMP}</if>
    <if test="updateDate != null" >and v.update_date= #{updateDate,jdbcType=TIMESTAMP}</if>
  </select>
  <delete id="delete" parameterType="java.lang.Long" >
    delete from vpn_group
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.turing.pangu.model.VpnGroup" >
    insert into vpn_group 
    <trim prefix="(" suffix=")" suffixOverrides="," >
        is_valid,    
        content,    
        create_date,    
        update_date,    
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
        #{isValid,jdbcType=INTEGER},  
        #{content,jdbcType=VARCHAR},  
        #{createDate,jdbcType=TIMESTAMP},  
        #{updateDate,jdbcType=TIMESTAMP},  
    </trim>
  </insert>
  <insert id="insertVpnGroupByTrim" parameterType="org.turing.pangu.model.VpnGroup" >
    insert into vpn_group 
    <trim prefix="(" suffix=")" suffixOverrides="," >
        <if test="isValid != null" >is_valid,</if>
        <if test="content != null" >content,</if>
        <if test="createDate != null" >create_date,</if>
        <if test="updateDate != null" >update_date,</if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
        <if test="isValid != null" >#{isValid,jdbcType=INTEGER},</if>  
        <if test="content != null" >#{content,jdbcType=VARCHAR},</if>  
        <if test="createDate != null" >#{createDate,jdbcType=TIMESTAMP},</if>  
        <if test="updateDate != null" >#{updateDate,jdbcType=TIMESTAMP},</if>  
    </trim>
  </insert>
  <update id="updateVpnGroupById" parameterType="org.turing.pangu.model.VpnGroup" >
    update vpn_group set 
    <trim prefix="" suffix="" suffixOverrides="," >
        is_valid=#{isValid,jdbcType=INTEGER},    
        content=#{content,jdbcType=VARCHAR},    
        create_date=#{createDate,jdbcType=TIMESTAMP},    
        update_date=#{updateDate,jdbcType=TIMESTAMP},    
    </trim>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="update" parameterType="org.turing.pangu.model.VpnGroup" >
    update vpn_group set 
    <trim prefix="" suffix="" suffixOverrides="," >
        <if test="isValid != null" >is_valid=#{isValid,jdbcType=INTEGER},</if>
        <if test="content != null" >content=#{content,jdbcType=VARCHAR},</if>
        <if test="createDate != null" >create_date=#{createDate,jdbcType=TIMESTAMP},</if>
        <if test="updateDate != null" >update_date=#{updateDate,jdbcType=TIMESTAMP},</if>
    </trim>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>
